html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif !important;
}

.container-fluid {
  background-image: url("/img/back.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  padding-bottom: 2em;
}

.margin-top-5 {
  margin-top: 3em;
}

p {
  color: white;
  width: 40vh;
}

label {
  color: white;
  text-align: center;
}

.input-simple {
  width: 60% !important;
  border-radius: 20px !important;
  height: calc(1em + .74rem + 2px) !important;
}

.textarea-simple {
  border-radius: 20px !important;
  width: 60% !important;
}

.padding-left-desktop {
  padding-left: 4em;
}

.btn-1 {
  background: #5a5981 !important;
  border-color: #5a5981 !important;
  border-radius: 20px !important;
  padding: .375rem 1.75rem !important;
  color: white !important;
  line-height: 1 !important;
}

.btn-2 {
  background: #a34b7b !important;
  border-color: #a34b7b !important;
  border-radius: 20px !important;
  padding: .375rem 1.75rem !important;
  color: white !important;
  line-height: 1 !important;
}

@media screen and (max-width: 992px) {
  body {
    background-color: blue;
  }
}

@media screen and (max-width: 600px) {
  html,
  body {
    background: none;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-size: 13px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  p {
    margin-bottom: 0.2rem !important;
  }
  .padding-left-desktop {
    padding: 0;
  }
  .space-phone {
    margin-top: 30vh;
  }
  .margin-top-5 {
    margin-top: 3vh;
  }
  .container-fluid {
    text-align: center;
    background-image: url("/img/phonebg.jpg");
    background-size: cover;
    background-position-y: 40%;
  }
  .content p {
    margin: auto;
  }
  .form-group {
    margin-bottom: 0.5rem !important;
  }
  .form-group input {
    margin: auto;
  }
  .text-bottom {
    position: relative !important;
    left: 0 !important;
    display: -ms-grid !important;
    display: grid !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 2vh;
    margin-left: 5vh;
  }
  .hideOnPhone {
    display: none;
  }
  .bottom-p {
    text-align: left;
    font-size: 12px;
  }
  .bottom-form {
    margin-top: 1vh;
    text-align: left;
  }
  .text-bottom strong {
    padding-left: .5em;
  }
}
/*# sourceMappingURL=style.css.map */